h1.headers{

    color: red;
    border: solid whitesmoke 2px;
    text-align: center;

} /* end of h1 */

#p1{

color: yellow;
font-weight: bolder;
border: green 1px solid;
text-align: center;

} /* end of line */

p {
color: blueviolet;
border: black 2px solid;
line-height: 60px;
padding: 30px;


}

body {

    background-color: blue;
    
}